.footer-bottom {
	background-color: $footer-bg;

	ul > li > a {
		color: $footer-text-color;
	}
}

.news {
	ul {
		margin-left: 0;
	}

	li {
		list-style: none;
		a {
			font-weight: bold;
		}
	}
}

a {
	font-weight: 400;
}