.footer-bottom {
	background-color: $footer-bg;

	ul > li > a {
		color: $footer-text-color;
	}
}

.news {
	ul {
		margin-left: 0;
	}

	li {
		list-style: none;
		a {
			font-weight: bold;
		}
	}
}

a {
	font-weight: 400;
}

a.jira {
    text-decoration: $text-color underline dashed;
    color: $text-color;
    &:visited {
        color: $text-color;
    }

    &:hover {
        color: darken($text-color, 15%);
        text-decoration: $text-color underline solid;
    }
}