/**
*
* settings.scss
*
* Contains all settings
*
*/

/* Bootstrap */
$grid-columns: 24;
//$enable-flex: true;

$black: #000;
$white: #fff;

$primaryColor: #f7941d;
$secondaryColor: #37caad;


$imgPath: $basePath + '/assets/img/';
$images-bxslider: $imgPath + 'bxslider';
$icheck-img-path: $imgPath + 'icheck/flat/';

// Our variables
$base-font-family: 'Raleway', serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit:     20px;

$text-color:       #434343;
$background-color: #fbf9f0;
$brand-color:      #37caad;
$text-highlight:   #5C0421;

$site-header-background: $background-color;
$menu-color:       #888;
$menu-color-hover: #3a4145;
$menu-toggle-menu-color: #575255;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$xsmall-screen: 544px;
$small-screen: 768px;
$tablet-screen: 992px;
$desktop-screen: 1200px;
$custom-screen-1400: 1400px;
$custom-screen-1600: 1600px;

$container-max-widths: (
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1630px
);

$media-xsmall: 'xsmall';
$media-small: 'small';
$media-tablet: 'tablet';
$media-desktop: 'desktop';
$media-custom: 'custom';

$font-family-2: 'Raleway', serif;


/* Footer */
$footer-bg: #343434;
$footer-text-color: #bbbbbb;

/* Sidebar */
/* $sidebar-right: "on";
$content-width: 70%;
$sidebar-width: 30%; */


/* Navigation */
$nav-item-color: #7d7d7d;
$nav-item-font-size: 14px;

$children-item-color-hover: #2b2d2f;

/* Navigation Bootstrap */
$nav-item-inline-spacer: 2rem;


/* Highlighted text */
$highlighted-border: 3px dotted $primaryColor;
$highlighted-border-color-hover: $text-color;
$highlighted-selected-color: $primaryColor;

/* Sidebar menu */
$sidebar-menu-bg: #434343;

$container-padding-right: 39px;
