{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}

    <main class="container  py-5">
        <!-- <div class="row">
            <div class="col"> -->
                <section>
                    <article>
                        <h1 class="text-center">
                            {{- .Title -}}<br />
                            <small class="font-size-1rem text-muted">{{ .Date.Format "Jan 02, 2006" }}</small>
                        </h1>
                        {{ .Content }}
                    </article>
                </section>
            <!-- </div>
        </div> -->
        <div class="pb-3"><!-- gap 3rem --></div>
        <div class="row">
            <div class="col-12 col-md-6  text-center text-md-left">
                {{ with .NextInSection}}
                <a class="btn btn-link" href='{{ .Permalink | relURL }}'>
                    <span class="d-block d-md-none  text-muted">Prev: </span>
                    <i class="small  fa fa-chevron-left  mr-3l2  d-none d-md-inline"></i>
                    {{ .Title }}
                </a>
                {{ end }}
            </div>
            <div class="col-12 col-md-6  text-center text-md-right">
                {{ with .PrevInSection}}
                <a class="btn btn-link" href='{{ .Permalink | relURL }}'>
                    <span class="d-block d-md-none  text-muted">Next: </span>
                    {{ .Title }}
                    <i class="small  fa fa-chevron-right  ml-3l2  d-none d-md-inline"></i>
                </a>
                {{ end }}
            </div>
        </div>
    </main>

{{ partial "pixel.html" . }}
{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
