
# Individual deleted/renamed pages
Redirect permanent /commercial-support.html /about/support/index.html
Redirect permanent /documentation.html /docs/index.html
Redirect permanent /doc12/documentation.html /docs/1.2/index.html
Redirect permanent /doc20/documentation.html /docs/2.0/index.html
Redirect permanent /doc/documentation.html /docs/3.0/index.html

# Remaping legacy doc folders
Redirect permanent /doc12/ /docs/1.2/
Redirect permanent /doc20/ /docs/2.0/
Redirect permanent /doc/ /docs/3.0/

# Remapping dev folders
Redirect permanent /developer-guide.html /dev/index.html
Redirect permanent /how_development_happens.html /dev/how_development_happens.html
Redirect permanent /code-repository.html /dev/code-repository.html
Redirect permanent /eclipse.html /dev/eclipse.html
Redirect permanent /building-cayenne.html /dev/building-cayenne.html
Redirect permanent /release-guide.html /dev/release-guide.html
Redirect permanent /running-unit-tests.html /dev/running-unit-tests.html

# Remaping old -> new cayenne site
Redirect permanent /support.html /about/support/
Redirect permanent /download.html /download/

# Remaping docbook based docs to asciidocs based
RedirectMatch permanent ^/docs/([0-9\.]+)/tutorial/(.*)\.html$ /docs/$1/getting-started-guide/\#$2
RedirectMatch permanent ^/docs/([0-9\.]+)/tutorial-rop/(.*)\.html$ /docs/$1/getting-started-rop/\#$2
# Redirect all except index.html to exclude cyclic redirection
RedirectMatch permanent ^/docs/([0-9\.]+)/cayenne-guide/(?!index)(.*)\.html$ /docs/$1/cayenne-guide/#$2
RedirectMatch permanent ^/docs/([0-9\.]+)/upgrade-guide/(?!index)(.*)\.html$ /docs/$1/upgrade-guide/#$2

# Links without direct replacement in new site
Redirect permanent /docs/legacy.html /docs/3.0/
Redirect permanent /about.html /
Redirect permanent /collaboration.html /
Redirect permanent /legacy-ant-documentation-export.html /

# Custom 404 error page
ErrorDocument 404 /404.html
# Disable .git related content
RedirectMatch 404 /\.git

# One month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|svg|js|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/opentype
# For Olders Browsers Which Can't Handle Compression
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>