
# Individual deleted/renamed pages
Redirect permanent /commercial-support.html /about/support/index.html
Redirect permanent /documentation.html /docs/index.html
Redirect permanent /doc12/documentation.html /docs/1.2/index.html
Redirect permanent /doc20/documentation.html /docs/2.0/index.html
Redirect permanent /doc/documentation.html /docs/3.0/index.html

# Remaping legacy doc folders
Redirect permanent /doc12/ /docs/1.2/
Redirect permanent /doc20/ /docs/2.0/
Redirect permanent /doc/ /docs/3.0/

# Remapping dev folders
Redirect permanent /developer-guide.html /dev/index.html
Redirect permanent /how_development_happens.html /dev/how_development_happens.html
Redirect permanent /code-repository.html /dev/code-repository.html
Redirect permanent /eclipse.html /dev/eclipse.html
Redirect permanent /building-cayenne.html /dev/building-cayenne.html
Redirect permanent /release-guide.html /dev/release-guide.html
Redirect permanent /running-unit-tests.html /dev/running-unit-tests.html

# Remaping old -> new cayenne site
Redirect permanent /support.html /about/support/
Redirect permanent /download.html /download/

# 3.1 docs
RedirectMatch permanent /docs/3\.1/tutorial/(.*)\.html$ /docs/3.1/getting-started/\#$1
RedirectMatch permanent /docs/3\.1/tutorial-rop/(.*)\.html$ /docs/3.1/getting-started-rop/\#$1
RedirectMatch permanent /docs/3\.1/cayenne-guide/(.*)\.html$ /docs/3.1/cayenne-guide/\#$1
RedirectMatch permanent /docs/3\.1/upgrade-guide/(.*)\.html$ /docs/3.1/upgrade-guide/#$1
#Redirect permanent /docs/3.1/tutorial /docs/3.1/getting-started-guide
#Redirect permanent /docs/3.1/tutorial-rop /docs/3.1/getting-started-rop

# 4.0 docs
RedirectMatch permanent /docs/4\.0/tutorial/(.*)\.html$ /docs/4.0/getting-started/#$1
RedirectMatch permanent /docs/4\.0/tutorial-rop/(.*)\.html$ /docs/4.0/getting-started-rop/\#$1
RedirectMatch permanent /docs/4\.0/cayenne-guide/(.*)\.html$ /docs/4.0/cayenne-guide/#$1
RedirectMatch permanent /docs/4\.0/upgrade-guide/(.*)\.html$ /docs/4.0/upgrade-guide/#$1
#Redirect permanent /docs/4.0/tutorial /docs/4.0/getting-started-guide
#Redirect permanent /docs/4.0/tutorial-rop /docs/4.0/getting-started-rop

# 4.1 docs
RedirectMatch permanent /docs/4\.1/tutorial/(.*)\.html$ /docs/4.1/getting-started/$1
RedirectMatch permanent /docs/4\.1/tutorial-rop/(.*)\.html$ /docs/4.1/getting-started-rop/\#$1
RedirectMatch permanent /docs/4\.1/cayenne-guide/(.*)\.html$ /docs/4.1/cayenne-guide/#$1
RedirectMatch permanent /docs/4\.1/upgrade-guide/(.*)\.html$ /docs/4.1/upgrade-guide/#$1
#Redirect permanent /docs/4.1/tutorial /docs/4.1/getting-started-guide
#Redirect permanent /docs/4.1/tutorial-rop /docs/4.1/getting-started-rop

# Links without direct replacement in new site
Redirect permanent /docs/legacy.html /docs/3.0/
Redirect permanent /about.html /
Redirect permanent /collaboration.html /
Redirect permanent /thanks.html /
RedirectMatch permanent /legacy(.*).html /

# Custom 404 error page
ErrorDocument 404 /404.html
# Disable .git related content
RedirectMatch 404 /\.git