<head>
  <meta charset="utf-8">
  <meta content="width" name="MobileOptimized">
  <meta content="true" name="HandheldFriendly">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <script type="text/javascript">
    var paths = {
      'base': '{{ site.baseurl }}',
      'url': '{{ page.url | replace:"index.html","" | prepend: site.baseurl | prepend: site.url }}',
      'pageUrl': '{{ page.url | replace:"index.html","" | prepend: site.baseurl }}',
      'pageUrlBase': '{{ page.url | replace:"index.html","" | prepend: site.baseurl }}'
    };
  </script>
</head>