<header class="site-header">
  <nav class="navbar">
    <div class="container">
      <div class="clearfix pull-sm-left mobile-nav">
        <a class="site-title navbar-brand" href="{{site.baseurl}}/" title="{{ site.title }}">
          Apache Cayenne
        </a>
          <button class="navbar-toggler hidden-xs-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar-header-toggle" aria-controls="#navbar-header-toggle">
            &#9776;
          </button>
      </div>

      <div class="navbar-header navbar-toggleable-xs pull-sm-left" id="navbar-header-toggle">
        <ul class="clearfix nav navbar-nav">
          <li class="nav-item">
            <a href="{{ site.baseurl }}/download" class="nav-link">Download</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/docs" class="nav-link">Documentation</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/support" class="nav-link">Community/Support</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>