<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.3">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/img/favicon/manifest.json">
        <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#dc5656">
        <link rel="shortcut icon" href="/img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{{ "css/styles.css" | absURL }}"/>
        <script src="{{ "js/bundle.js" | absURL }}"></script>
        {{ if .Title -}}
        <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
        {{- else -}}
        <title>{{ .Site.Title }}</title>
        {{- end }}
    </head>
    <body {{ if not (eq .Params.cayenneNoToc true) }}data-spy="scroll" data-target=".toc-side"{{ end }} class="cd-head">