{{ $docVersion := "4.2" }}
{{ $docId := "index" }}

{{ $urlComponents := split .RelPermalink "/" }}
{{ if (isset $urlComponents 3) }}
    {{ $docVersion = index $urlComponents 2 }}
{{ end }}
{{ if (isset $urlComponents 4) }}
    {{ $docId = index $urlComponents 3 }}
{{ end }}
{{ $currentPageURL := .RelPermalink }}


{{- range where $.Site.Data.cayenne.releases "docs" true -}}
{{- $ver := .version -}}
{{- $.Scratch.SetInMap "indexUrlByVersion" $ver (printf "/docs/%s/api/" $ver) -}}
    {{- range (sort (where $.Site.Pages "Kind" "page") "Weight" "desc") -}}
        {{- if not (eq .Params.cayenneNoToc true) -}}
            {{- if eq .Params.cayenneVersion $ver -}}
                {{- $.Scratch.SetInMap "indexUrlByVersion" $ver .RelPermalink -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}


{{ $urlByVersion := $.Scratch.Get "indexUrlByVersion" }}

<main>
    <div class="cd-top-sidebar  bb">
        <div class="container">
            <div class="row no-gutters">
                <!-- Sidebar -->
                <div class="col-12 col-lg-4 col-xl-3  br  cd-sidebar1">
                    <ul class="nav" role="tablist">
                        <li class="nav-item dropdown mw-100">
                            <a class="nav-link dropdown-toggle text-truncate" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Cayenne Version {{ $docVersion }}
                            </a>
                            <div class="dropdown-menu">
                                {{ range where $.Site.Data.cayenne.releases "docs" true -}}
                                {{- $ver := .version -}}
                                <a class="dropdown-item" href="{{ index $urlByVersion $ver }}">Version {{ $ver }} ({{ .type }})</a>
                                {{- end }}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-8 col-xl-9"> <!-- Search planned here, but ToC-toggler will be --> </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters  ">
            <div class="col-12 col-lg-4 col-xl-3  br  py-2  bg-gray-100  cd-sidebar">
                <div class="tab-content" id="cd-docs-nav">
                    {{ range (sort (where $.Site.Pages "Kind" "page") "Weight" ) -}}
                    {{- if eq .Params.cayenneVersion $docVersion -}}
                    {{- if not (eq .Params.cayenneNoToc true) }}
                    <div class="cd-toc-item">
                        {{ if eq .File.BaseFileName $docId }}
                        <span class="cd-toc-link active">{{ if .Params.docsMenuTitle }}{{ .Params.docsMenuTitle }}{{ else }}{{ .Title }}{{ end }}</span>
                            {{- $tocFile := printf "content/docs/%s/%s.toc.html" $docVersion $docId -}}
                            {{- if (fileExists $tocFile) -}}
                                {{ readFile $tocFile | safeHTML }}
                            {{- end -}}
                        {{ else }}
                            <a class="cd-toc-link" href="{{ .RelPermalink }}">{{ if .Params.docsMenuTitle }}{{ .Params.docsMenuTitle }}{{ else }}{{ .Title }}{{ end }}</a>
                        {{ end }}
                    </div>
                    {{ end -}}
                    {{- end -}}
                    {{- end }}
                    <div class="cd-toc-item">
                        <!-- this range should return a single collection element,
                        but we don't check it here and just iterate on all elements returned -->
                        {{- range where $.Site.Data.cayenne.releases "version" $docVersion -}}
                        {{- if or (eq .javaDoc "online") (eq .javaDoc "no-index") }}
                        <!-- Online version of JavaDocs -->
                        <a class="cd-toc-link" href="/docs/{{ .version }}/api/">JavaDoc</a>
                        {{- else -}}
                        {{- if eq .javaDoc "offline" -}}
                        <!-- Offline package of JavaDocs for the legacy Cayenne versions -->
                        <a class="cd-toc-link" href="/docs/Apache_Cayenne_v{{ .version }}_javadoc.zip">Download JavaDoc</a>
                        {{- end -}}
                        {{- end -}}
                        {{- end -}}
                    </div>
                </div>
            </div>
            <!-- Main -->
            <div class="col-12 col-lg-8 col-xl-9  py-3 pl-lg-5  cd-content">