<!-- Footer -->
<footer class="bg-dark">
    <div class="footer-nav container  text-center text-lg-left  pb-3">
        <div class="row  pt-5 pb-3">
            {{ range .Site.Menus.footer}}
            <div class="col-sm-6 col-lg-3">
                <h4>{{ .Name }}</h4>
                <ul class="list-unstyled">
                    {{ range .Children }}
                    <li>
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            <div class="col-sm-6 col-lg-3">
                <h4>News</h4>
                <ul class="list-multiline-items list-unstyled  mb-0">
                    {{ range first 3 (where (where $.Page.Site.Pages "Type" "news") "Kind" "page") }}
                    <li>
                        <time datetime="{{ .Date }}" class="xsmall d-block">{{ .Date.Format "Jan 02, 2006" }}</time>
                        <a href="{{ .URL }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                </ul>
                <a class="btn-link text-uppercase xsmall" href="{{ .Site.BaseURL }}news">
                    More news
                    <i class="fa fa-lg fa-long-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <hr class="mt-0 mb-3" />
        <p class="copy xsmall text-center  mw-75 mx-auto mb-0">
            Copyright © 2001-{{ now.Year }} Apache Software Foundation. Apache Cayenne, Cayenne, Apache, the Apache feather logo, and the Apache Cayenne project logo are trademarks of The Apache Software Foundation. <a href="{{ ref . "privacy-policy.md" | safeURL }}">Privacy policy</a>.
            <img class="d-block  mx-auto mt-2" src="/img/logo_mono.svg" alt="Apache Cayenne" />
        </p>
    </div>
</footer>