<header class="page-header">
    <nav id="topbar" class="bg-dark" aria-label="breadcrumb" role="navigation">
      <ul class="breadcrumb breadcrumb-sm breadcrumb-dark  container  mb-0">
        <li class="breadcrumb-item dropdown">
          <a class="dropdown-toggle  text-nowrap  pr-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="mw-15px  mr-1" src="/img/feather.svg" />Apache Software Foundation</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.apache.org">Apache Homepage</a>
            <a class="dropdown-item" href="https://www.apache.org/licenses/">License</a>
            <a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
            <a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a>
            <a class="dropdown-item" href="https://www.apache.org/security/">Security</a>
          </div>
        </li>
        <!--<li class="breadcrumb-item d-none d-lg-flex"><span>Apache Cayenne</span></li>-->
      </ul>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
           <img src="/img/logo_mono_full.svg" alt="{{ .Site.Title }}" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav  mt-3 mt-lg-0 mr-auto">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL }}">{{ upper .Name }}</a>
            </li>
            {{ end }}
          </ul>
          <ul class="navbar-nav  flex-row justify-content-center  mt-2 mt-lg-0 mb-2 mb-lg-0 " id="social-links-menu">
            <li class="nav-item  d-flex">
              <a class="nav-link  d-flex justify-content-center align-items-center" href="https://github.com/apache/cayenne">
                <img src="/img/icon_octocat_stars.svg" alt="GitHub" /><span class="stargazers_count  ml-1l2"></span></a>
            </li>
            <li class="nav-item  d-flex">
              <a class="nav-link  d-flex justify-content-center align-items-center" href="https://twitter.com/ApacheCayenne">
                <img src="/img/icon_twitter.svg" alt="Twitter" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
