{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="container  py-5">
    <section>
        <h1 class="text-center">{{ .Title }}</h1>
        
        {{ .Content }}
                
        <h3 class="text-center">Committers and Project Management Committee</h3>
        <div class="table-responsive  mt-2 mb-5">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Website</th>
                </tr>
                </thead>
                <tbody>
                {{- range where $.Site.Data.contributors.contributors "active" true -}}
                <tr>
                    <td>{{ .name }}</td>
                    <td>{{ .role }}</td>
                    <td>{{ .email }}</td>
                    <td>{{ if .website }}{{ .website | markdownify }}{{ end }}</td>
                </tr>
                {{- end -}}
                </tbody>
            </table>
        </div>

        <h3 class="text-center">Emeritus Committers</h3>
        <p class="text-center">Committers who are no longer active in the community. We wish them well and hope to see them return.</p>
        <div class="table-responsive  mt-2 mb-5">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Website</th>
                </tr>
                </thead>
                <tbody>
                {{- range where $.Site.Data.contributors.contributors "active" false -}}
                <tr>
                    <td>{{ .name }}</td>
                    <td>{{ .email }}</td>
                    <td>{{ if .website }}{{ .website | markdownify }}{{ end }}</td>
                </tr>
                {{- end -}}
                </tbody>
            </table>
        </div>

        <h3 class="text-center">Other Contributors</h3>
        <p class="text-center"></p>
        <div class="table-responsive  mt-2 mb-5">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Org</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {{- range $.Site.Data.contributors.other -}}
                <tr>
                    <td>{{ .name }}</td>
                    <td>{{ .org }}</td>
                    <td>{{ if .comment }}{{ .comment | markdownify }}{{ end }}</td>
                </tr>
                {{- end -}}
                </tbody>
            </table>
        </div>

    </section>
</main>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}